#{extends 'main.html' /}
#{set title:'eTactica Mobile - Dashboard' /}
#{set 'moreScripts'}
	<script type='text/javascript' src='public/javascripts/knockout-2.0.0.js'></script>
#{/set}
<body>
<div  data-role="page"> 
	<div data-role="header">
		<h1>${session.user} :: Dashboard</h1>
		<a href="@{Application.index()}" data-icon="minus" class="ui-btn-right" data-ajax="false">Logout</a>
<!--		<a href="/" class="ui-btn-right">Cancel</a>  -->
	</div>
	<!-- /header -->
<div id="collap">
	<div data-role="collapsible-set">
	    <div data-bind="foreach: locations">
	    	<div data-role="collapsible">
	        	<h3 data-bind="text: name"></h3>
	        	<p>Cost for <span data-bind="text: name"></span> is <span data-bind="text: cost"></span>$</p>
	         		<div data-bind="foreach: cab">
	         			<div data-role="collapsible">
	         				<h3><span data-bind="text: cabinetName"></span></h3>
	         			</div>
	         		</div>
	        </div>
	    </div>	    		   		                                                                                       
	</div>
</div>
<div id="footer" data-role="footer" data-position="fixed">		
	<div id="navbar" data-role="navbar">
		<ul>
			<li><a href="#" data-icon="home" class="ui-btn-active">Home</a></li>
			<li><a href="#" data-icon="alert">Alert Inbox</a></li>
			<li><a href="#" data-icon="gear">Alert Subscription</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
</div><!-- /page -->
</div>
	<script src="public/javascripts/test.js" type="text/javascript"></script>
</body>
